<!DOCTYPE suite SYSTEM "https://testng.org/testng-7.4.0 dtd">
<suite name="MyTestSuite">
    <test name="Test1">
        <classes>
            <class name="com.test.GoogleTitleTest"></class>
           	<class name="com.test.ExceptionTimeOutTest"></class>
 			<class name="com.test.InvocationCountTest"></class>
			<class name="com.test.TestNGAnnotationsHierarchy"></class>
			<class name="com.test.TestNGBasics"></class>
            
        </classes>
    </test>
</suite>